%h1 Editing content

= render 'form'

.row
  .span10.offset1
    %p{:class=>"pull-left pager"}
      = link_to 'Back', contents_path
    %p{:class=>"pull-right pager"}
      = link_to 'Show', @content

