.apps-new-page
  .page-header
    .title_enquiry
      %h1
        New

  .row
    .span12
      = render 'form'

.row
  .span10.offset1
    %p{:class=>"pull-right pager"}
      = link_to 'Back', contents_path

